
/server/build/static
/site/build/static
/site/build
/site/static
/server/build
site/.env
*.env
/site/src/Assets

site/package-lock.json
build/package-lock.json
.vscode/settings.json
/node_modules
package-lock.json
server/.env
server/.env
server/.env
